@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid black; */

}

:root {
    --fill-background-full: #3a86ff;
    --fill-background-empty: #e5e5e5;
}

body {
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container::before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--fill-background-empty);
    width: 100%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.progress-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 30vw;
    max-width: 100%;
}

.progress {
    position: absolute;
    height: 4px;
    background-color: var(--fill-background-full);
    width: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: width 0.8s ease;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--fill-background-empty);
    border-radius: 50%;
    transition: .8s ease;
}

.circle.active {
    border: 3px solid var(--fill-background-full);
    transition: border 0.3s ease-in;
}

.btn {
    background-color: var(--fill-background-full);
    padding: 8px 30px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
}

.btn:disabled {
    background-color: var(--fill-background-empty);
    cursor: not-allowed;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}